<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bangaloretalkies.corehacker.cheinthusan">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ChEinthusanMainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChEinthusanSearchActivity"
            android:label="@string/title_activity_ch_einthusan_search"
            android:parentActivityName=".ChEinthusanMainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bangaloretalkies.corehacker.cheinthusan.ChEinthusanMainActivity" />
        </activity>

        <activity
            android:name=".settings.CastPreference"
            android:theme="@style/Theme.AppCompat"
            android:label="@string/action_settings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".expandedcontrols.ExpandedControlsActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/Theme.CastVideosDark"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bangaloretalkies.corehacker.cheinthusan.mediaplayer.LocalPlayerActivity"/>
        </activity>

        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="com.bangaloretalkies.corehacker.cheinthusan.CastOptionsProvider" />

        <activity android:name=".mediaplayer.LocalPlayerActivity"></activity>
    </application>

</manifest>